@model SIGRE.Models.ItemInventario

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ItemInventario</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.categoriainventario.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.categoriainventario.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.colaborador.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.colaborador.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fechamodificacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fechamodificacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.detallemodificacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.detallemodificacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tipooperacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tipooperacion)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
