@model IEnumerable<SIGRE.Models.CategoriaInventario>

@{
    ViewBag.Title = "Categoría de inventario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categoría de inventario</h2>

<p>
    @Html.ActionLink("Nueva", "Create")
</p>

@using (Html.BeginForm("Index", "CategoriaInventario", FormMethod.Post)) {

    <fieldset>
        <legend>Búsqueda</legend>

		<table>
			<tr>
				<td>
		<div class="editor-label">@Html.Label("Tipo de categoría", new { @for = "idcategoriainventariotipo" })</div>
				</td>
				<td>
        <div class="editor-field">@Html.DropDownList("idcategoriainventariotipo", "Todos")</div>
				</td>
				<td><input type="submit" value="Buscar" /></td>
			</tr>
			<tr>
				<td>
		<div class="editor-label">@Html.Label("Nombre", new { @for = "nombre" })</div>
				</td>
				<td>
        <div class="editor-field">@Html.Editor("nombre")</div>
				</td>
				<td></td>
			</tr>
		</table>
    </fieldset>
}

@if (Model.Count() > 0) {

<table class="rvtabla">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idcategoriainventariotipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>Asignación<br />múltiple</th>
        <th>Estado</th>
        <th>Tiene<br />detalle</th>
        <th>Opciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.categoriainventariotipo.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.muestraAsignacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.muestraEstado)
        </td>
        <td>
            @if (item.lcategoriadetalle.Count() == 0) { @Html.Raw("No") } else { @Html.Raw("Si") }
        </td>
        <td>
			@if(item.utilizada) {
            @Html.ActionLink("Editar", "Edit", new { id = item.idcategoriainventario })
			<text> | </text>
				if(item.desactivado) {
            @Html.ActionLink("Activar", "Delete", new { id = -item.idcategoriainventario }, new { onclick = "return confirm('¿Está seguro que desea activar la categoría seleccionada?');" })
				} else {
			@Html.ActionLink("Desactivar", "Delete", new { id = -item.idcategoriainventario }, new { onclick = "return confirm('¿Está seguro que desea desactivar la categoría seleccionada?');" })
				}
			<text> | </text>
			@Html.ActionLink("Ver detalle", "Index", new { id = item.idcategoriainventario, controller="CategoriaDetalle" })
			} else {
            @Html.ActionLink("Editar", "Edit", new { id = item.idcategoriainventario })
			<text> | </text>
            @Html.ActionLink("Eliminar", "Delete", new { id = item.idcategoriainventario }, new { onclick = "return confirm('¿Está seguro que desea eliminar la categoría seleccionada?');" })
			<text> | </text>
			@Html.ActionLink("Detalle", "Index", new { id = item.idcategoriainventario, controller="CategoriaDetalle" })
			}
        </td>
    </tr>
}

</table>

}