@model SIGRE.Models.Usuario

@{
	ViewBag.Title = "Cambiar contraseña";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cambiar contraseña</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Cambiar contraseña</legend>

		@Html.HiddenFor(model => model.idusuario)
		@Html.HiddenFor(model => model.username)
		@Html.HiddenFor(model => model.idrol)
		@Html.HiddenFor(model => model.intentos)
		@Html.HiddenFor(model => model.bloqueado)
		@Html.HiddenFor(model => model.intentospass)

        <div class="editor-label">
            @Html.LabelFor(model => model.password, "Contraseña actual")
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.password, new { data_val = false })
            @Html.ValidationMessageFor(model => model.password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.passwordn)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.passwordn)
            @Html.ValidationMessageFor(model => model.passwordn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.passwordr)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.passwordr)
            @Html.ValidationMessageFor(model => model.passwordr)
        </div>

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}
<!--
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
$(function () {
	@if (ViewBag.password != null) {
		@Html.Raw("$('#password').val('" + ViewBag.password + "');");
		@Html.Raw("$('#passwordn').val('" + ViewBag.passwordn + "');");
		@Html.Raw("$('#passwordr').val('" + ViewBag.passwordr + "');");
	}
});
</script>
}
