@model IEnumerable<SIGRE.Models.CentroCosto>

@{
    ViewBag.Title = "Centro de costo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Centro de costo</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>

@using (Html.BeginForm("Index", "CentroCosto", FormMethod.Post)) {

    <fieldset>
        <legend>Búsqueda</legend>

		<table>
			<tr>
				<td>
		<div class="editor-label">@Html.Label("Tipo", new { @for = "tipo" })</div>
				</td>
				<td>
        <div class="editor-field">@Html.DropDownList("tipo", "Todos")</div>
				</td>
				<td><input type="submit" value="Buscar" /></td>
			</tr>
			<tr>
				<td>
		<div class="editor-label">@Html.Label("Código", new { @for = "codigo" })</div>
				</td>
				<td>
        <div class="editor-field">@Html.TextBox("codigo")</div>
				</td>
				<td></td>
			</tr>
			<tr>
				<td>
		<div class="editor-label">@Html.Label("Nombre", new { @for = "nombre" })</div>
				</td>
				<td>
        <div class="editor-field">@Html.TextBox("nombre")</div>
				</td>
				<td></td>
			</tr>
		</table>
    </fieldset>
}

@if (Model.Count() > 0) {

<table class="rvtabla">
    <tr>
        <th>
            @Html.DisplayName("Tipo")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.centrocosto_idcentrocosto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idcolaborador)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.desactivado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.muestraTipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unidadnegocio.codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.propietario.nombre)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.muestraEstado)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.idcentrocosto }) | 
			@if (item.lcentrocosto.Count() + item.lcolaborador.Count() + item.lperfil.Count() > 0) {
				if (item.desactivado) {
			@Html.ActionLink("Activar", "Delete", new { id = -item.idcentrocosto }, new { onclick = "return confirm('¿Desea activar el centro de costo seleccionado?');" })
				} else {
			@Html.ActionLink("Desactivar", "Delete", new { id = -item.idcentrocosto }, new { onclick = "return confirm('No se podrán crear más perfiles ni colaboradores asociados a este centro de costo. ¿Desea continuar?');" })
				}
			} else {
			@Html.ActionLink("Eliminar", "Delete", new { id = item.idcentrocosto }, new { onclick = "return confirm('El centro de costo seleccionado será eliminado. ¿Desea continuar?');" })
			}
        </td>
    </tr>
}

</table>

}